* {
  font-family: LigaSFMonoNerdFont;
  font-size: 14px;
  border: none;
  margin: 0;
  padding: 0;
}

window#waybar {
  /* background-color: #202735;*/
  background-color: transparent;
}

#workspaces button {
  padding: 0 8px;
  color: #465678;
  background: transparent;
}

#workspaces button.active {
  /*color: #202735;*/
  color: #a4e6fc;
}

#battery,
#clock,
#pulseaudio,
#power-profiles-daemon,
#backlight,
#network,
#tray {
  padding: 0 12px;
  background: transparent;
  color: #FFFFFF;

}

#battery.charging {
  color: #a4e6fc;
}


#pulseaudio.muted {
  color: #FFFFFF;
}

#clock {
  font-weight: bold;
  color: #7098b5;
}

